#TextoD {
    position: relative;
    top: 10px;
    left: 0%;
  }

#TextoD2 {
    position: relative;
    top: 30px;
    left: -29.5%;
  }

#ImageD {
    position: relative;
    top: 10px;
    left: 0%;
}
